@font-face {
    font-family: "CirceRounded";
    src: local("CirceRounded"), url("../fonts/CirceRounded-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoCyrl";
    src: local("MuseoCyrl"), url("../fonts/MuseoCyrl700.otf") format("opentype");
}

$primary_blue: #315af2;
$hover_blue: rgba(49, 90, 242, 0.75);
$primary_pink: #e9399c;
/* по аналогии с синей кнопкой */
$hover_pink: rgba(233, 57, 156, 0.75);
$background_gray: #e5e5e5;
$standard-padding: 0.75rem;

/* сокращение до $line_count строк для очень больших заголовков */
@mixin wrap-overflow($line_count) {
    word-wrap: anywhere;
    display: -webkit-box;
    -webkit-line-clamp: $line_count;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

html {
    font-family: CirceRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 136%;
    /* or 22px */
    display: flex;
    align-items: center;
    letter-spacing: -0.416667px;
    color: black;
}

body {
    background: white;
    width: 100%;
}

a {
    color: $primary_blue;
}

.btn,
.btn-large {
    text-transform: none;
}

.btn:hover,
.btn-large:hover,
.btn:focus,
.btn-large:focus {
    background: $hover_blue;
}

::selection,
::-moz-selection {
    background: #e2edf8;
}

/* nav */

nav,
.nav-wrapper {
    background-color: white;
}

nav {
    .img-wrap {
        height: 100%;
    }
    img {
        margin-top: 1rem;
    }

    a {
        font-size: 22px;
        /*line-height: 26px;*/
        color: #010101;
    }

    ul a.btn {
        background-color: $primary_blue;
        font-size: 16px;
        /*line-height: 19px;*/
        color: white;
        text-transform: none;
        border-radius: 6px;
        margin-right: 0px;
    }
}

/* headers */

h1,
h2,
h3 {
    font-style: normal;
    font-weight: bold;
    color: $primary_blue;
}

h1 {
    font-family: MuseoCyrl;
    font-size: 44px;
    line-height: 128%;
    /* or 56px */
}

h2 {
    font-family: MuseoCyrl;
    font-size: 32px;
    line-height: 38px;
}

.padded-left {
    padding: 0 $standard-padding;
}

h3 {
    font-size: 24px;
    line-height: 120%;
}

/* hero */

.hero {
    span {
        margin-top: 2.8rem;
        font-size: 16px;
        /*line-height: 20px;*/
        /* identical to box height, or 125% */
        display: flex;
        color: $primary_pink;
    }

    h1 {
        margin-top: 0;
        @include wrap-overflow(4);
    }

    p {
        @include wrap-overflow(4);
    }

    .hero-image-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    img {
        padding-top: $standard-padding;
        width: 100%;
        height: auto;
        margin: auto;
    }

    .btn-large {
        background: $primary_blue;
        border-radius: 6px;
        text-transform: none;
        font-family: MuseoCyrl;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        /*line-height: 38px;*/
        letter-spacing: -0.416667px;
        color: white;
    }

    .btn-large:hover,
    .btn-large:focus {
        background: $hover_blue;
    }
}

/* grid */

.bordered {
    border: 2px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 3px;
}

.grid .padded {
    padding: $standard-padding $standard-padding;
}

.grid-item {
    padding: $standard-padding $standard-padding;
    height: 300px;
    /*width: 300px;*/

    img {
        display: block;
        margin: 0 auto;
        /*width: 100%;*/
        height: 40%;
    }

    h3 {
        text-align: center;
        @include wrap-overflow(3);
    }

    .date {
        font-size: 12px;
        line-height: 20px;
        /* identical to box height, or 167% */
        color: #979797;
    }
}

/* detailed_view.html */

.gray {
    background: $background_gray;
    padding-bottom: $standard-padding * 10;
    /* растяжение на всю высоту */
    flex-grow: 1;

    p,
    h2 {
        word-wrap: anywhere;
    }

    img {
        width: 100%;
    }
}

/* для растяжения gray на всю высоту */

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

/* post_edit.html */

#id_title,
#id_body {
    border: 2px solid #cdcdcd;
    border-radius: 3px;
    padding-left: $standard-padding;
    min-height: 48px;
    resize: none;
    box-sizing: border-box;
}

#id_title {
    color: $primary_blue;
    font-family: CirceRounded;
    font-size: 24px;
    letter-spacing: -0.416667px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::placeholder {
    color: #c4c4c4;
    font-size: 24px;
    letter-spacing: -0.416667px;
    font-family: CirceRounded;
}

textarea {
    height: 100%;
    padding: $standard-padding;
}

.publish-button {
    background-color: $primary_pink;
    font-family: MuseoCyrl;
    min-height: 50px;
}

form .btn:hover,
form .btn:focus {
    background: $hover_pink;
}

/* Поле загрузки файла под текстовыми полями на моб. */
@media only screen and (max-width: 600px) {
    .right-col {
        padding-top: $standard-padding;
    }
}
@media only screen and (min-width: 601px) {
    .right-col {
        padding-left: $standard-padding;
    }
}

.bordered {
    h3 {
        margin: 1rem 1rem;
        text-align: center;
    }

    .load-button {
        font-family: MuseoCyrl;
        background: $primary_blue;
    }

    #id_file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}
/* превью изображения с кнопкой reset */
.preview {
    position: relative;
    width: 90%;
    margin: 0 auto;

    #id_preview {
        width: 100%;
        margin-bottom: 1rem;
        height: auto;
    }

    #id_clear {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        display: none;
        background: $background_gray;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-floating i {
        font-size: 2rem;
    }
}
