@charset "UTF-8";
@font-face {
  font-family: "CirceRounded";
  src: local("CirceRounded"), url("../fonts/CirceRounded-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoCyrl";
  src: local("MuseoCyrl"), url("../fonts/MuseoCyrl700.otf") format("opentype");
}
/* по аналогии с синей кнопкой */
/* сокращение до $line_count строк для очень больших заголовков */
html {
  font-family: CirceRounded;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 136%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: -0.416667px;
  color: black;
}

body {
  background: white;
  width: 100%;
}

a {
  color: #315af2;
}

.btn,
.btn-large {
  text-transform: none;
}

.btn:hover,
.btn-large:hover,
.btn:focus,
.btn-large:focus {
  background: rgba(49, 90, 242, 0.75);
}

::selection,
::-moz-selection {
  background: #e2edf8;
}

/* nav */
nav,
.nav-wrapper {
  background-color: white;
}

nav img {
  margin-top: 1rem;
}
nav a {
  font-size: 22px;
  /*line-height: 26px;*/
  color: #010101;
}
nav ul a.btn {
  background-color: #315af2;
  font-size: 16px;
  /*line-height: 19px;*/
  color: white;
  text-transform: none;
  border-radius: 6px;
  margin-right: 0px;
}

/* headers */
h1,
h2,
h3 {
  font-style: normal;
  font-weight: bold;
  /*display: flex;
  align-items: center;
  letter-spacing: -0.416667px;*/
  color: #315af2;
}

h1 {
  font-family: MuseoCyrl;
  font-size: 44px;
  line-height: 128%;
  /* or 56px */
}

h2 {
  font-family: MuseoCyrl;
  font-size: 32px;
  line-height: 38px;
}

.padded-left {
  padding: 0 0.75rem;
}

h3 {
  font-size: 24px;
  line-height: 120%;
}

/* hero */
.hero span {
  margin-top: 2.8rem;
  font-size: 16px;
  /*line-height: 20px;*/
  /* identical to box height, or 125% */
  display: flex;
  /*align-items: center;
  letter-spacing: -0.416667px;*/
  color: #e9399c;
}
.hero h1 {
  margin-top: 0;
  /* сокращение до 4 строк для очень больших заголовков */
  word-wrap: anywhere;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;*/
}
.hero p {
  word-wrap: anywhere;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;*/
}
.hero img {
  padding-top: 0.75rem;
  width: 100%;
}
.hero .btn-large {
  background: #315af2;
  border-radius: 6px;
  text-transform: none;
  font-family: MuseoCyrl;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  /*line-height: 38px;*/
  /*display: flex;*/
  /*align-items: center;*/
  letter-spacing: -0.416667px;
  color: white;
}
.hero .btn-large:hover,
.hero .btn-large:focus {
  background: rgba(49, 90, 242, 0.75);
}

/* grid */
.bordered {
  border: 2px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
}

.grid .padded {
  padding: 0.75rem 0.75rem;
}

.grid-item {
  padding: 0.75rem 0.75rem;
  height: 300px;
  /*width: 300px;*/
}
.grid-item img {
  display: block;
  margin: 0 auto;
  /*width: 100%;*/
  height: 40%;
}
.grid-item h3 {
  text-align: center;
  word-wrap: anywhere;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.grid-item .date {
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  color: #979797;
}

/* detailed_view.html */
.gray {
  background: #e5e5e5;
  padding-bottom: 7.5rem;
  /* растяжение на всю высоту */
  flex-grow: 1;
}
.gray p,
.gray h2 {
  word-wrap: anywhere;
}
.gray img {
  width: 100%;
}

/* растяжение gray на всю высоту */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

/* post_edit.html */
#id_title,
#id_body {
  border: 2px solid #cdcdcd;
  border-radius: 3px;
  padding-left: 0.75rem;
  min-height: 48px;
  resize: none;
  box-sizing: border-box;
}

#id_title {
  color: #315af2;
  font-family: CirceRounded;
  font-size: 24px;
  letter-spacing: -0.416667px;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::placeholder {
  color: #c4c4c4;
  font-size: 24px;
  letter-spacing: -0.416667px;
  font-family: CirceRounded;
}

textarea {
  height: 100%;
  padding: 0.75rem;
}

.publish-button {
  background-color: #e9399c;
  font-family: MuseoCyrl;
  min-height: 50px;
}

form .btn:hover,
form .btn:focus {
  background: rgba(233, 57, 156, 0.75);
}

.right-col {
  padding-left: 0.75rem;
}
.right-col h3 {
  margin: 1rem 1rem;
  text-align: center;
}
.right-col .load-button {
  font-family: MuseoCyrl;
  background: #315af2;
}
.right-col #id_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.preview {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.preview #id_preview {
  width: 100%;
  margin-bottom: 1rem;
  height: auto;
}
.preview #id_clear {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
  background: #e5e5e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.preview .btn-floating i {
  font-size: 2rem;
}

/*# sourceMappingURL=base.css.map */
