{% load static %}
<html>

<head>
    <title>Django miniblog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header>

        <nav>
            <div class="nav-wrapper container">
                <div class="row">
                    <div class="col s12 m6 l2 img-wrap">
                        <a href="{% url 'home' %}">
                            <!--<img class="brand-logo" src="{% static 'images/Logo_Kodland.svg' %}">-->
                            LOGO
                        </a>
                    </div>
                    <div class="col s6 m12 l2 hide-on-med-and-down">
                        <a href="{% url 'home' %}">
                            Блог
                        </a>
                    </div>
                    <div class="col m6 l4 offset-l3 hide-on-small-and-down">
                        <ul id="nav-mobile" class="right">
                            <li><a class="btn" href="{% url 'post_new' %}">+ Добавить статью</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </nav>
    </header>
    <div class="divider"></div>
    {% block content %}
    {% endblock content %}
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>

</html>