{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for post in object_list %}
{% if forloop.first %}
<div class="container">
    <div class="row hero">
        <div class="col s12 m12 l7">
            <span>NEW</span>
            <h1>{{ post.title }}</h1>
            <p>{{ post.body }}</p>
            <a class="btn-large" href="{% url 'post_detail' post.pk %}">Читать</a>
        </div>
        <div class="col s12 m12 l5 hero-image-div">
            <div class="hero-image-div hide-on-med-and-down">
                {% if post.image %}
                <img src={{ post.image.url }} alt={{ post.title }}>
                {% else %}
                <img src="{% static 'images/1Statya_3.svg' %}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="container">
    <h2 class="padded-left">Другие статьи</h2>
    <div class="row grid">
        {% else %}
        <div class="col s12 m12 l4 padded">
            <a href="{% url 'post_detail' post.pk %}">
                <div class="grid-item bordered hoverable">
                    <span class="date">{{ post.created_date|date:'d F Y H:i' }}</span>
                    {% if post.image %}
                    <img src={{ post.image.url }} alt={{ post.title }}>
                    {% else %}
                    <img src="{% static 'images/1Statya_2.svg' %}">
                    {% endif %}
                    <h3>{{ post.title }}</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if forloop.last %}
    </div>
</div>
{%endif %}
{% empty %}
<div class="container">
    <h1>Записей нет!</h1>
</div>
{% endfor %}
{% endblock content %}